@import "../../../variables.scss";

.main-container{

    position: relative;
    width: 100%;
    height: 100%;
    color: black;

    
    display:flex;
    flex-direction: column;
    &__nav-bar{
        height: $nav-bar-height;
        // HOW SO ?

    }
    &__scroll{
        position: fixed;
        right: 0vw;
        bottom: 2vh;
        color: white;
        cursor: pointer;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__footer{
        position: relative;
        height: 100%;
        background: linear-gradient(45deg, $primary-color-light-2, $seconday-color-light-2);
        backdrop-filter: blur(10px);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        &__contacts{
            display: flex;
            flex-direction: column;
            align-items: center;
           
            &__icons{
                display: flex;
                align-items: center;
            }
            &__icons *{
                cursor: pointer;
                margin-left: 15px;
                margin-right: 15px;
            }

        }
    }
}

@media screen and (max-width: 500px) {
    .main-container{
        grid-template-rows: 8% calc($top-movies-height - $nav-bar-height/2 ) auto 15%;
    }
}