@import "../../../variables.scss";

.empty-movies-container{
    height: 100%;
    width: 100%;
    display: flex;

    margin-top:30px;
    padding: 30px;

    &__no-results{
        width: 100%;
        height: calc($normal-movie-item-height*2);
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-size: 4vw;
        background:linear-gradient(45deg, $primary-color, $seconday-color);
        -webkit-background-clip: text;
        color: transparent;
    }
}
.normal-movies-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;




    
    margin-top:3vh;
    padding: 30px;

    &__movies{
      
        overflow: auto;


        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      
        width: 100%;
        &__movie{
            flex-basis:max(18vw,300px);
            
        }
    }
    &__filters{
      
        padding-left: 20px;
        padding-right: 20px;
    
        display: flex;
        
        align-items: center;
      
        margin-left: calc(20px + 5%);
        *{
            margin-right:1vw;
           
        }
    }
    &__search{

        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__content{
            height: min(10vh,10vw);
            min-height: 60px;
            width: 100%;
        }
        &__back{
            cursor: pointer;
            background: linear-gradient(45deg, $primary-color, $seconday-color);
            -webkit-background-clip: text;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__title{
        
        margin-left: 20px;
        &__text{
            width: fit-content;
            display: flex;
            align-items: center;
            font-size: max(2.5vh, 3vw);
            font-weight: bolder;
            color:transparent;
            background: linear-gradient(45deg, $primary-color, $seconday-color);
            -webkit-background-clip: text;
        }
    }
    //overflow: scroll;
    &__pagination{
        padding-bottom: 20px;
        margin-left:20px;
        margin-right:20px;
   
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}




.movies-icon{
    color:transparent;
    font-size: max(4vh, 5vw);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

@media only screen and (max-width: 500px) {
    .normal-movies-container__movies__movie{
        flex-basis: 250px;
    }
}